* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* width: 100vw; */
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btnDiv {
    margin-top: 20px;
    display: flex;
    justify-content: space-around
}

button {
    padding: 1rem 2rem;
    background: grey;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

#colorChanger {
    width: 33vw;
    height: 33vw;
    border-radius: 50%;
    margin-bottom: 3vh;
    background: rgb(255, 255, 255);
}